<div id="<%= dom_id corporate %>">
  <p>
    <strong>Name:</strong>
    <%= corporate.name %>
  </p>

  <p>
    <strong>Subscription date:</strong>
    <%= corporate.subscription_date %>
  </p>

  <p>
    <strong>Validity:</strong>
    <%= corporate.validity %>
  </p>

  <p>
    <strong>Active:</strong>
    <%= corporate.active %>
  </p>

</div>
