<div id="<%= dom_id book %>">
  <p>
    <strong>Name:</strong>
    <%= book.name %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= book.category_id %>
  </p>

  <p>
    <strong>Subcategory:</strong>
    <%= book.subcategory_id %>
  </p>

  <p>
    <strong>Author:</strong>
    <%= book.author_id %>
  </p>

  <p>
    <strong>Isbn number:</strong>
    <%= book.isbn_number %>
  </p>

  <p>
    <strong>Publisher:</strong>
    <%= book.publisher_id %>
  </p>

</div>
